body {
  background: unset !important;

}
* {
  /* font-family: 'Mukti', Arial, sans-serif !important; */
  /* font-family: 'AdorshoLipi', Arial, sans-serif !important; */
  /* font-family: 'AponaLohit', Arial, sans-serif !important; */
  font-family: 'Anek Bangla' !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none !important;
  color: #fff !important;
}

.site-header,
.body-wrap {
  box-shadow: 1px 1px 5px #5763d8;
  padding: 0;
  background: linear-gradient(#00aeff,#00aeff9c, #00aeff);
}
.header_area{
  background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)),url("https://4.bp.blogspot.com/-6ruFm77_4Ig/V_EsVywkMMI/AAAAAAAAPQw/asBbcoaVeKEVqB6mRMssxDNdHSm_i2kYwCLcB/w1200-h630-p-k-no-nu/Village-Web.png") no-repeat;
  background-size:cover ;
}

.logo_img img{
  width: 150px;
  width: 150px;
}

.logo_text {
  font-size: 40px;
}

.header-brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:0;
  padding-bottom: 7px;
}

.nav {
  padding-top: 35px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  padding: 5px 10px;
  color: #5763d8;
  border-radius: 2px;
  transition: 0.5s;
}

.header-last-itme {
  background: #5763d8;
  color: #fff !important;
}

.header-last-itme:hover {
  background: #283df8 !important;
}

.nav ul li a:hover {
  background: #5763d8;
  color: #fff;
}

.template_img {
  width: 100%;
  height: 350px;
  box-shadow: 0px 0px 4px gray;
  border-radius: 5px;
}

.order {
  padding: 20px;
  border-radius: 5px;
  color: gray;
  box-shadow: 0px 0px 2px gray;
}

.order-itmes {
  padding-top: 8px;
}

.order-itmes>label {
  display: block;
}

.order-itmes>input,
select {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 2px;
  outline: none;
  padding-left: 5px;
}

.order-itmes>textarea {
  border: 1px solid #ddd;
  width: 100%;
  height: 150px;
  padding-left: 5px;
  outline: none;
  border-radius: 2px;
}

.submit_btn {
  margin-top: 20px;
  padding: 5px 20px;
  background: #5763d8;
  border: none;
  border-radius:2px;
  color: #fff;
}

.submit_btn:hover {
  background: #2439f5;
  border: none;
}

.my_account {
  /* text-align: center; */
  width: 100%;
  box-shadow: 0px 0px 2px gray;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.my_account>div>img {
  width: 200px;
  height: 200px;
  border-radius: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.my_account>div>h3 {
  margin: 0;
}

.my_account>div>p {
  font-size: 15px;
  font-style: italic;
  margin: 0;
  padding: 0;
  line-height: initial;
}

.my_account>div>span {
  font-size: 15px;
  display: block;
}

.product_summery {
  display: flex;
}

.slicknav_menu {
  display: none;
}
.mobile_logo{
  display: none;
}
.top_space{
  display: none;
}


.hero-inners{
  display: flex;
  justify-content: center;
}

.card1{
  width: 20%;
  box-shadow: 0px 0px 5px gray;
  padding:20px;
  padding-bottom: 0;
  background: linear-gradient(#00aeff,#181818);
  margin: 2px;
}
.card1_inner>img{
  width: 100%;
  height: 170px;
}
.card2{
  width: 60%;
  box-shadow: 0px 0px 5px gray;
  padding:20px;
  padding-bottom: 0;
  background: linear-gradient(#00aeff,#181818);
  margin: 2px;
}
.counter{
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 2px gray;
}
.counter>div{
  text-align: center;
}
.counter>div>h2{
  font-size: 20px;
  padding: 10px;
  padding-bottom: 0;
}

.card3{
  width: 20%;
  box-shadow: 0px 0px 5px gray;
  padding:20px;
  padding-bottom: 0;
  background: linear-gradient(#00aeff,#181818);
  margin: 2px;
}
.card1_inner{
  border:5px solid #fff;
  margin-bottom: 5px;
}
.card1_inner>h2{
  margin: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 15px;
  background: orange;
  padding: 5px;
}
.card1_inner>p{
  margin: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 15px;
}

.card3_inner{
  border:5px solid #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.card3_inner>div{
  margin-bottom: 15px;
}
.card3_inner>div>a>img{
  width: 100%;
  height: 40px;
}
.card3_inner>div>a>.item2_img{
  width: 100%;
  height: unset;
}
.card3_inner>div>a>.item3_img{
  width: 50%;
  height: 50px;
  margin: auto;
}

.from>form>div{
  /* display: flex; */
  width: 100%;
  padding: 5px;
}

.from>form>div input{
  width: 100%;
  outline:none;
  padding:0px 10px;
}

.from>form>div input[type=submit]{
  background: #0695cebe;
  color:#fff;
  border: none;
  padding:5px;
  cursor: pointer;
  margin-top: 20px;
}

.from>form>div input[type=submit]:hover{
  background: #0695cefd;
  color:#fff;
  border: none;
  padding:5px;
  cursor: pointer;
}
.thumbnail{
  display: flex !important;  
}
.thumbnail>div{
  margin: 10px;
  background: #fff;
  padding:10px;
  cursor: pointer;
  border-radius: 10px;
  transition: .5s;
}
.thumbnail>div:hover{
  box-shadow: 0 5px 12px 5px #000;
}
.thumbnail-label>i{
  font-size: 12px !important;
  color: #000 !important;
  font-weight: bold;
}

input,select,textarea{
  background: linear-gradient(rgb(135, 207, 235),rgba(255, 255, 255, 0.226)) ;
}
select option{
  background: skyblue;
}
.card1_link>a{
  display: block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  background: #028b79;
  color: #fff;
}













@media only screen and (max-width: 768px) {
  
  .site-header{
    display: none;
  }
  .mobile_logo{
    display: block;
    position: fixed;
    top:10px;
    left:10px;
    z-index: 99;
    width: 220px
  }
  .top_space{
    display: block;
  }
  #menu {
    display: none;
  }

  .slicknav_menu {
    display: block;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    right: 0;
  }

  .logo {
    padding: 20px 0;
    margin: 0 auto;
    padding-top: 0;
  }

  .logo a {
    font-size: 25px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .site-footer-inner {
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 30px !important;
  }

  .my_account {
    display: block;
  }
  
  .card{
    width: 90%;
  }
  .from>form>div{
    text-align: left !important;
  }
  .site-footer-inner>a{
    text-align: center !important;
    margin: 0 auto;
  }
  .hero-inners{
    display: block;
  }
  .card1,.card2,.card3{
    width: 100%;
    display: block;
  }
  .card1_inner>img{
    width: 70%;
    height: 270px;
    margin:auto;
  }
  .counter{
    margin-top: 10px;
  }
 
  .counter>div>h2{
    font-size: 12px;
    margin: 5px;
  }
  .counter>div>p{
    font-size: 12px;
  }
 
}
