select{
  padding: 5px;
  outline: none;
}
.order-view {
  display: flex;
  justify-content: space-around;
}

label {
  display: block;
  margin: 0;
  margin-top: 10px;
}

.edit,
.view {
  box-shadow: 0 0 1px gray;
  padding: 20px;
  width: 100%;
}

.profile {
  margin-top: 20px;
}

.profile>div {
  display: flex;
  justify-content: space-between;
}

.profile>div>div {
  padding: 0 5px;
}

.profile>div>div>input {
  width: 100%;
  margin: 5px 10px;
  margin-left: 0;
  box-shadow: 0 0 2px gray;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.profile>div>select {
  width: 100%;
  margin: 10px 0;
  box-shadow: 0 0 2px gray;
  border: none;
  border-radius: 2px;
  padding: 7px 5px;
}

.profile>div>input[type="submit"] {
  width: 100%;
  margin: 10px 0;
  box-shadow: 0 0 2px gray;
  border: none;
  border-radius: 2px;
  padding: 7px 5px;
}

.view {
  
  text-align: center;
}

.view>.view-content {
  padding: 20px;
}

.view>.view-content>h3 {
  margin: 0;
  padding: 0;
}

.view>.view-content>h6,
p {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.view>.view-content>p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}


.view>.view-img>img {
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.top_search {
  padding: 0 20px;
}

.top_search>form>input {
  box-shadow: 0 0 2px gray;
  border: none;
  border-radius: 2px;
  padding: 5px;
  outline: none;
}
.top_search>select{
  width: 200px;
}

.top_search>form>button {
  box-shadow: 0 0 2px gray;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.top_search>form>button:hover {
  background: rgb(255, 231, 231);
}

.search_bar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.edit>table {
  width: 100%;
}

.edit>table>tbody>tr>td {
  padding-left: 25px;
}

.edit>table>tbody>tr>td>a {
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 2px;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
  display: block;
  overflow: auto;
  height: unset;
}

.payment_area {
  overflow: auto;
}



.input {
  width: 100%;
  padding: 5px;
}

.select_bar {
  width: 300px;
}

.btn_on_red {
  color: #fff;
  font-size: 12px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 6px;
  transition: .5s;
  margin:0 5px;
}

.btn_on_red:hover {
  background: #fff;
  color: #000;
}

.top_bar_flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.radio_div{
  display: flex;
  gap: 20px;
}
.pesa{
  display: flex;
}
.pesa input[type=radio]{  
  margin-left: 9px;
  margin-top: 5px;
}
.tax_btn{
  margin-left: 0;
  padding:5px 2px;
  
}
.top_select>select{
  width: 200px;
  padding:4px 10px !important;
}

.search_bar_left{
  border-radius: 10px 10px 0 0;
}


.search_bar_right{
  border-radius: 0 0 10px 10px;
}

.slicknav_menu {
  display:none;
}
#menu {
  display:none;
}

.sms_check{
  flex-flow: row !important;
  padding:20px 0;
}
.sms_check>input{
  width: 25px;
  height: 25px;
}
.logo{
  display: none;
}
.top_search_t{
  display: none;
}
.top_space{
  display: none;
}



@media only screen and (max-width: 768px) {  
  .logo{
    display: block;
    position: fixed;
    top:10px;
    left:20px;
    z-index: 6;
  } 
  .logo>img{
    width: 100px;
  } 
  .logo>span{
    font-size: 25px;
    color: #fff;
  } 

  .search_bar {
    display: block;
  }

  .order-view {
    display: block;
  }

  .order-view>.edit,
  .view {
    width: 100%;
    display: block;
    padding: 10px;
  }

  .view>.view-content {
    width: 100%;
    text-align: center;
  }

  .view>.view-img {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    text-align: center;
  }

  .input_file {
    outline: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  .radio_div{
    display: block;
  }
  .search_bar_left{
    display: block;
    text-align: center;
  }
  .search_bar_left>div{
    padding: 5px 0;
  }
  .top_search>select{
    width: 150px;
  }

  .search_bar_right{
    display: block;
    text-align: center;
  }
  .search_bar_right>div{
    padding: 5px 0;
  }

  
    #menu {
      display:none;
  }

  .slicknav_menu {
      display:block;
      position: fixed;
      top:0;
      right: 0;
      width: 100%;
      z-index: 5;
  }
  .logout{
    display: none;
  }

  .top_bar_flex{
    display: block;
    text-align: center;
  }
  .top_bar_flex>div{
    padding: 5px 0;
  }
  .top_bar_flex>div>select{
    width: 170px;
    padding: 5px;
  }
  .btn_on_red{
    padding: 5px;
  }  
  .top_search_t{
    display: block;
  }
  .top_search_t>form{
    width: 90%;
    margin:0 auto;
    display: flex;
  }
  .top_search_t>form>input{
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .top_search_b{
    display: none;
  }
  .top_select>select,.left_src_btn{
    width: 90%;
  }
  .search_bar_right {
    padding-bottom: 10px;
}
.top_space{
  display: block;
  padding-bottom:50px;
}
  
}
